/* header */
:root {
  --main-text-color: #212121;
  --additional-text-color: #757575;
  --accent-color: #2196f3;
  --accent-color-two: #ffffff;
  --main-font: "Roboto";
  --main-font-weight: 900;
  --additional-font-weight: 400;
  --font-weight-employee-name: 500;
  --font-weight-advantages: 700;
  --additional-font: "Raleway";
  --font-style: "Normal";
  --accent-backgroung: #2f303a;
  --accent-button-backgroung: #f5f4fa;
  --studio-style-color: rgba(255, 255, 255, 0.6);
}

.header {
  background-color: var(--accent-color-two);
}

body {
  background-color: var(--accent-color-two);
  color: var(--main-text-color);
  font-family: var(--main-font);
  text-decoration: none;
}
.list {
  list-style: none;
}

.site-nav .link,
.web,
.studio,
.web-studio {
  list-style: none;
  color: var(--main-text-color);
  text-decoration: none;
}
.site-nav .link:hover,
.site-nav .link:focus,
.mail:hover,
.mail:focus,
.phone:hover,
.phone:focus {
  color: var(--accent-color);
}

.web {
  color: var(--accent-color);
  font-family: var(--additional-font);
}

.studio-bl {
  color: var(--accent-color-two);
  font-family: var(--additional-font);
}

.mail,
.phone {
  color: var(--additional-text-color);
}

/* hero */

.section-one {
  background-color: var(--accent-backgroung);
}

.main-section {
  color: var(--accent-color-two);
  font-weight: var(--main-font-weight);
}

.button-background {
  color: var(--accent-color-two);
  background-color: var(--accent-color);
  font: var(--main-font);
}

.button-background-port {
  color: var(--main-text-color);
  background-color: var(--accent-button-backgroung);
  font: var(--main-font);
}

.button-background-port:hover,
.button-background-port:focus {
  color: var(--accent-color-two);
  background-color: var(--accent-color);
  font: var(--main-font);
}

.advantages-title {
  font-weight: var(--font-weight-advantages);
}

.paragraph {
  color: var(--additional-text-color);
  font-weight: var(--additional-font-weight);
}
.employee-name {
  color: var(--main-text-color);
  font-weight: var(--font-weight-employee-name);
}

.section-four {
  background-color: var(--accent-button-backgroung);
}

.address-city {
  color: var(--accent-color-two);
}

.footer {
  background-color: var(--accent-backgroung);
  font-style: var(--font-style);
}

.address {
  font-style: var(--font-style);
}

a:link {
  text-decoration: none;
  font-style: var(--font-style);
}
a:link:hover,
a:link:focus {
  color: var(--accent-color);
}
.contact-data {
  color: var(--studio-style-color);
  font: var(--main-font);
  font-style: var(--font-style);
}
